/*
https://blog.csdn.net/m0_37568521/article/details/78487568
*/
.waterfall {
    width: 80%;
    column-gap:10px;
    column-count: 3;
    margin: 80px auto;
}
.item {
    padding: 10px;
    margin-bottom: 10px;
    page-break-inside: avoid;
    border: 1px solid #1abc9c;
}
.item img{
    width: 100%;
}
.item p{
    line-height: 30px;
}
@media (min-width: 992px) and (max-width: 1300px) {
    .waterfall {
        column-count: 2;
    }
    p {
        color:red;
    }
}
@media (max-width: 991px) {
    .waterfall {
        column-count: 1;
    }
    p {
        color: orange;
    }
}

.special{
    border: 3px solid red;
}
