/*
https://blog.csdn.net/m0_37568521/article/details/78487568
*/
.waterfall {
    width: 80%;
    column-gap:10px;
    column-count: 3;
    margin: 80px auto;
}

.imgBox{
    margin-bottom: 10px;
    page-break-inside: avoid;
    border: none;
    position:relative;
    z-index:1;
}
.imgBox img{
    width:100%;
    height:100%;
}
.hoverLayer{
    display: none;
}
.hoverLayer a{
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.imgBox:hover .hoverLayer {
   width:100%;
   background:rgba(0,0,0,.5);
   position:absolute;
   /*
   There is a weird bug: you have to set bottom to 6px
   */
   bottom:6px;      
   left:0;
   display:inline-block;
   box-sizing:border-box;
}
@media (min-width: 992px) and (max-width: 1300px) {
    .waterfall {
        column-count: 2;
    }
}
@media (max-width: 991px) {
    .waterfall {
        column-count: 1;
    }
}

.special{
    border: 3px solid #1abc9c;
    padding: 3px;
}
