<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/img/icon.ico" type="image/x-icon" />
    <style>
        body{
            background: white;
        }
    </style>
    <title>网页搜索</title>
</head>
<body>
    <div id="magicWrapper">
    <div id="superCenter" align="center">
            <img src="/static/img/icon1_1.png"  class="mainIcon" alt="阡陌">
        <div id="searchType">
            <span class="active-type" ><a href="#">网页</a></span>
            <span class="type"><a href="/face">人脸</a></span>
        </div>
        <div id="homeSearch" align="center">
            <form action="/search/html">
                <input type="text" id="homeInput" name="s" placeholder="搜点什么吧"><input type="submit" id="homeSubmit" value="搜索">
                <br>
            </form>
        </div>
    </div>
    </div>
</body>
</html>
